<div id="filmsTest"  ng-controller="filmoviController">
  <h2>Filmovi</h2>
  <div class="row" >
    <div class="col-sm-4" ng-repeat="x in sviFilmovi">
      <div class="panel panel-primary">
        <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTQzMzk4NTk5Nl5BMl5BanBnXkFtZTgwNjU0ODE5MDI@._V1_.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><a href="film/{{x.id}}">{{x.name}}</a></div>
      </div>
    </div>
   
   
</div><br>
  
</div>